<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myunmbertwoitem1703">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".OneTurnActivity"
            android:icon="@drawable/a2"
            android:label="微信定时发圈辅助"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".StoreListView"
            android:screenOrientation="portrait"/>
        <activity android:name=".StoreContent"
            android:screenOrientation="portrait"/>

        <service
            android:name=".TimeService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>